/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html,
body,
.brackets {
  width: 100%;
  min-height: 100%;
  font-family: "Arial", sans-serif;
}

.layout {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 80vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  padding: 0.5em;
  justify-content: space-between;
}

#participants {
  flex: 1;
  font-size: 1.2em;
}

.bracket {
  flex: 1;
  display: flex;
  font-size: 1.2rem;
  height: 80vh;
  background-color: black;
  align-items: stretch;
  overflow-x: auto;
}

.bracket__round {
  flex: 1 0 20em;
  display: flex;
  flex-direction: column;
  background-color: rgba(200,200,255,0.2);
  box-shadow: 0 0 6px 1px black;
  justify-content: space-between;
}

.bracket__match {
  display: flex;
  align-items: center;
  list-style: none;
  flex: 1;
  align-self: stretch;
  padding: 0 0.5em;
}

.bracket__match::before {
  padding: 0.5em;
  content: attr(data-matchnum);
  color: white;
}

.bracket__match::after {
  padding: 0.5em;
  content: attr(data-emptylevel);
  color: green;
}

.bracket__teamlist {
  display: flex;
  flex-direction: column;
  height: 3em;
  flex: 1;
  align-items: stretch;
}

.bracket__team {
  background-color: gray;
  display: flex;
  flex: 1;
  align-items: center;

  & + & {
    border-top: 1px solid black;
  }
}

.bracket__team-name {
  white-space: nowrap;
  font-size: 1em;
  padding: 0.2em 0.5em;
}

.bracket__team::before {
  background-color: lightgray;
  order: 0;
  content: attr(data-rank);
  align-self: stretch;
  flex-basis: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  padding: 0.3em;
  max-width: 1.2em;
}

.bracket__bye {
  max-height: 2em;
  flex: 1;
}

.toolbar {
  display: flex;
  padding: 0.5em 0.4em;
}

.toolbar__heading {
  width: 100%;
  font-size: 1.5em;
  margin: 0.4em 0;
}

.toolbar__radio-group {
  label {
    width: 100%;
  }
}

.toolbar--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.toolbar input {
  flex: 1;
}

.toolbar > span {

}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
